<div mat-dialog-title>
  <h1>Post Form</h1>
</div>
<form [formGroup]="categoryForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
      <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>name</mat-label>
        <input matInput  placeholder="Ex. TEchnology" formControlName="name">
    </mat-form-field>
      </div>

      <div class="row">
          <mat-form-field appearance="outline">
              <mat-label>Creation Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="creation_date">
              <mat-hint>YYYY/MM/DD</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
      </div>
      
  </div>
  <div mat-dialog-actions class="action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
      <button mat-raised-button color="primary" type="submit">{{data? 'Update':'Save'}}</button>
  </div>
</form>